# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives :
1. Some of the popular languages that Data Scientists
2. Some of the commonly used libraries used by Data Scientists
3. few examples of evaluating arithmetic expressions in Python
4. simple arithmetic expression to mutiply then add integers
5. convert 200 minutes to hours by diving by 60

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. SciPy
5. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Zeppelin Notebooks|
|R studios|

### Below are a few examples of evaluating arithmetic expressions in Python
- 2 + 3
- 12 * 98
- 13 - 4 + 6
- (7 - 4) * (5 * 2)

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Prashant singh